
:root{
    font-size: 25px;
    margin-right: 10px;
}
#navbar{
    position: fixed;
    left:0px;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    font-size:25px;
}
#navbar a{
    border-top:2px solid black;;

}
main{
    margin-left:220px;
}
a{
    text-decoration: none;
    color:black;
}
code{
    background-color:beige;
    display: flex;
    padding:10px;
}
header{
    font-size:30px;
    font-weight: bold;
}
p{
    margin-left: 20px;
    text-align: justify;
}